/*
Since the default root element font size in most browsers is 16px, using html { font-size: 62.5%; } makes the root element font size 10px, so everywhere else 1rem translates to 10px.

If I want something to be 175px, I'd use 17.5rem to size it and get the advantage of relative units, which helps a lot with responsive design.
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  /* font-size: 1.6rem; */
  margin:0;
}

button {
  overflow: visible;
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

.hidden,
[hidden] {
    display: none!important;
}

.pure-img {
    max-width: 100%;
    height: auto;
    display: block;
}
/***
        ...
                    ***/
a[href], button[href], a > *[href],button > *[href] {
  cursor: pointer;
}
ol,ul,li{
  list-style: none;
}


/***
      Classes
                    ***/
.resizable {
  resize: both;
  overflow: scroll;
  border: 1px solid black;
}
.invisible {
  display: none;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
/***
    Abstract classes
                    ***/
.is-super-centered, .centered{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scrollable {
	overflow-y: auto;
	max-height: 98%;
}					
.is-fullsize {
	height:100vh;
}
.is-fullwidth {
  	width:calc(100vw - (100vw - 100%));
}
/***
        Elements
                    ***/





/***
        Items
                    ***/


/***
        Content
                    ***/
/* mobile */
@media screen and (max-width: 768px) {
  .container {
    max-width: 650px;
    width: 650px;
  }
}
/* tablet */
@media screen and (min-width: 769px) {
  .container {
    max-width: 651px;
    width: 651px;
  }
}
/* desktop */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 896px;
    width: 896px;
  }
}
/* widscreen */
@media screen and (min-width: 1216px) {
  .container {
    max-width: 1088px;
    width: 1088px;
  }
}
/* fullhd */
@media screen and (min-width: 1408px) {
  .container {
    max-width: 1280px;
    width: 1280px;
  }
}
