html {
    font-family: 'Open Sans', Arial, sans-serif;
}

.all {
    background-color: var(--gainsboro);
    min-height: 100vh;
}

nav {
    background-color: var(--primary);
}

footer {}

.holdstuff {
    background-color: var(--white);
    margin: 2rem 0;
}

.heldstuff {
    padding: 0 3rem;
}

.heldstuff:hover {
    background-color: var(--primary);
}

.heldstuff:not(:first-child) {
    margin-top: 0rem;
    border-top: 1px solid gainsboro;
}

.heldstuff>*:first-child {
    padding-top: 0.8rem;
    padding-bottom: 0rem;
}

.heldstuff>.placeholder, .heldstuff>.box {
    padding-left: 4rem;
    padding-right: 4rem;
}

picture {}

.content {
    padding: 0 0 0 1rem;
    margin-bottom: 1.5rem;
}

.content-body>p, .content-head>p {
    font-size: 1.4rem;
    line-height: 2rem;
    -webkit-text-size-adjust: none;
    text-align: justify;
    margin: 0;
}

.content-body {
    margin-bottom: 0.5rem;
}

.content-footer {}

.box {
    border-radius: 0.1rem;
    display: flex;
}

#scribble {
    width: 100%;
    min-height: 100px;
}

@media all and (min-width: 520px) {
    .container {
        max-width: 760px;
        margin: 0 auto;
    }
}

/* */

.reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.button {
    /* default for <button>, but useful for <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;
    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;
    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;
    /* size comes from text & padding (no width/height) */
    padding: 0.5em 1em;
    /* make sure colors have enough contrast! */
    color: #ffffff;
    background-color: #9555af;
}

.button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.button:focus {
    box-shadow: none;
}

.button:hover {
    color: #9050AA;
    border-color: currentColor;
    background-color: white;
}

/**/

.lamp[data-text]::after {
    content: attr(data-text) " ";
}

/* classes */

.clickable {
    cursor: pointer;
    transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
}

.children-right {
    display: flex;
    justify-content: end;
}

/* keyframes */

@-webkit-keyframes blink {
    from {
        opacity: 1.0;
        filter: hue-rotate(90deg);
    }
    to {
        opacity: 0.0;
        filter: hue-rotate(90deg);
    }
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}
.blink.fast{
    -webkit-animation-duration: 250ms;
}
.blink.infinite{
    -webkit-animation-iteration-count: infinite;
}